<!-- <div>
  <ul class="userlist">
    <li *ngFor="let user of users; index as i">
      <div class="usercontent">
        <label class="userlabel" [attr.for]="'user' + i">Nome: {{user.nome}} </label>
        <label class="userlabel" [attr.for]="'user' + i">Sexo: {{user.sexo}} </label>
        <label class="userlabel" [attr.for]="'user' + i">Data de Nascimento: {{user.dataDeNascimento}} </label>
        <label class="userlabel" [attr.for]="'user' + i">Estado Civil: {{user.estadoCivil}} </label>
      </div>
    </li>
  </ul>
</div> -->

<data-table> </data-table>